---
import ValentineApp from "../components/ValentineApp.svelte";
import Hearts from "../components/Hearts.svelte";
import config from "../config.json";
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dia dos Namorados</title>
  </head>
  <body class="bg-pink-100 min-h-screen flex items-center justify-center">
    <ValentineApp
      client:load
      couple={config.couple}
      relationshipStartDate={config.relationshipStartDate}
      images={config.images}
    />
    <Hearts
      client:load
      couple={config.couple}
      relationshipStartDate={config.relationshipStartDate}
      images={config.images}
    />
  </body>
</html>
